@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  font-family: $qr-font-family-regular;

  &.common {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;

    @include breakpoint('lg') {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &.common-light {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  &.header {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
  }

  &.about {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  &.subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;

    @include breakpoint('lg') {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &.logo {
    font-family: $qr-font-family-logo;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;

    @include breakpoint('md') {
      font-size: 44px;
      line-height: 48px;
    }

    @include breakpoint('lg') {
      font-size: 44px;
      line-height: 52px;
    }
  }

  &.common-volume {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    @include breakpoint('lg') {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &.price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    @include breakpoint('lg') {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &.size {
    font-size: 15px;
    line-height: 17px;
    font-weight: 600;

    @include breakpoint('lg') {
      font-size: 28px;
      line-height: 16px;
    }
  }

  &.nutrients-number {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }

  &.nutrients-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  &.category {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;

    @include breakpoint('md') {
      font-size: 24px;
      line-height: 29px;
    }

    @include breakpoint('lg') {
      font-size: 34px;
      line-height: 41px;
    }
  }

  &.tag {
    font-family: $qr-font-family-alternative;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    @include breakpoint('lg') {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &.search-products {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;

    @include breakpoint('md') {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &.card-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;

    @include breakpoint('md') {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &.not-found-number {
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;

    @include breakpoint('md') {
      font-size: 247px;
      line-height: 252px;
    }

    @include breakpoint('xl') {
      font-size: 433px;
      line-height: 442px;
    }
  }

  &.not-found-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;

    @include breakpoint('md') {
      font-size: 34px;
      line-height: 42px;
    }

    @include breakpoint('xl') {
      font-size: 42px;
      line-height: 50px;
    }
  }

  &.not-found-subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    @include breakpoint('md') {
      font-size: 18px;
      line-height: 26px;
    }

    @include breakpoint('xl') {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &.not-found-button {
    font-family: $qr-font-family-alternative;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    @include breakpoint('md') {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &.card-volume {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  @each $color, $_ in $qr-colors {
    &.#{$color} {
      color: get-color($color, base);
    }
  }
}
