.root {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 21.5px 25px;

  &__logo {
    position: relative;
    width: 32px;
    height: 32px;
  }
}
