@import 'src/scss/variables';
@import 'src/scss/mixins';

$modal-animation-time: 0.2s;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 1000;
  cursor: pointer;

  // Animation
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: fadeOut $modal-animation-time ease-in-out forwards;

  &.visible {
    opacity: 1;
    animation: fadeIn $modal-animation-time ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    to {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }

    to {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.root {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0px;
  background-color: get-color(background, base);

  @include breakpoint('md') {
    width: 768px;
    height: auto;
    border-radius: 30px;
  }

  &__image {
    flex-grow: 0;
    min-height: 0;
    height: 100%;
    max-height: 50%;

    @include breakpoint('md') {
      height: 378px;
    }
  }

  &__info {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    max-width: 340px;
    padding: 12px 10px calc(16px + env(safe-area-inset-bottom));
    margin: 0 auto;

    & > * {
      display: block;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint('sm') {
      max-width: 380px;
    }

    @include breakpoint('md') {
      padding: 18px 10px 28px;
      max-width: 540px;

      & > * {
        margin-bottom: 14px;
      }
    }

    @include breakpoint('lg') {
      max-width: 668px;
    }

    &__ingredients,
    &__description {
      white-space: pre;
    }

    &__title {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;

      &__sizes {
        display: flex;
        flex-flow: row;
        gap: 6px;

        @include breakpoint('md') {
          gap: 8px;
        }
      }
    }

    &__price {
      margin-top: 18px;

      & svg {
        transform: scale(0.9);
        margin-bottom: -1px;

        @include breakpoint('lg') {
          transform: scale(1.6);
          margin-bottom: 3px;
        }
      }
    }

    &__line {
      width: 100%;
      border: none;
      height: 0.5px;
      border-radius: 1px;
      opacity: 0.25;
      background-color: get-color(element, base);
    }

    &__nutrients {
      display: flex;
      flex-flow: row;

      &__item {
        width: 25%;
      }

      & * {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
