@import 'src/scss/variables';
@import 'src/scss/mixins';

.root {
  position: relative;
  width: 100%;

  &__image {
    text-align: center;
    line-height: 100px;

    @include breakpoint('md') {
      border-radius: 30px 30px 0 0;
    }
  }

  &__header {
    position: absolute;
    top: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 64px;
    box-sizing: border-box;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    @include breakpoint('md') {
      border-radius: 30px;
      padding: 32px;
    }
  }

  &__badges {
    position: relative;
    display: flex;
    flex-flow: row;

    & > * {
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
