@import 'src/scss/variables';
@import 'src/scss/mixins';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  border: 1px solid get-color(element, base);
  box-sizing: border-box;
  transition: background-color $qr-transition-time ease-in-out;
  background-color: get-color(background, base);
  cursor: pointer;

  @include breakpoint('lg') {
    height: 36px;
  }

  & span {
    transition: color $qr-transition-time ease-in-out;
  }

  &.picked {
    background-color: get-color(element, base);
  }
}
