@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  height: 38px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 9px;
  border: 1px solid get-color(element, base);

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: scale(0.7);
  }

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;

    &,
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: get-color(paragraph, base);
    }

    &::placeholder {
      opacity: 0.35;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}
