@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 22px;
  overflow: auto;

  &__category {
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    white-space: nowrap;

    &__decoration {
      position: absolute;
      left: calc(50% - 4px);
      bottom: -6px;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      transition: $qr-transition-time ease-in-out;

      &.picked {
        border-top: 4px solid get-color(paragraph, base);
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      height: 2px;
      border-radius: 2px;
      background-color: transparent;
      transition: $qr-transition-time ease-in-out;
    }

    &::before {
      left: 58%;
    }

    &::after {
      right: 58%;
    }

    &.picked {
      &::before,
      &::after {
        width: 42%;
        background-color: get-color(paragraph, base);
        transition: width $qr-transition-time ease-in-out, opacity $qr-transition-time ease-in-out;
        opacity: 1;
      }
    }
  }

  @include breakpoint("md") {
    gap: 76px;
  }

  @include breakpoint("lg") {
    gap: 52px;
  }
}
