@import 'src/scss/variables';
@import 'src/scss/mixins';

.root {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid get-color(background, base);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &__first,
  &__second {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    border-radius: 4px;
    transition: transform $qr-transition-time ease-in-out;
    background-color: get-color(background, base);
  }

  &__first {
    transform: rotate(40deg);
  }

  &__second {
    transform: rotate(-40deg);
  }

  &:hover &__first,
  &__second {
    transition: transform $qr-transition-time ease-in-out;
  }

  &:hover &__first {
    transform: rotate(-40deg);
  }

  &:hover &__second {
    transform: rotate(40deg);
  }
}
