.root {
  position: fixed;
  bottom: -100%;
  left: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 16px 24px;
  transition: bottom 0.7s ease-in-out;

  &.toggled {
    bottom: 0;
    transition: bottom 0.7s ease-in-out;
  }
}
