@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  $width: map-get($qr-containers, xs);

  padding: 136px 0 64px;
  width: $width;
  min-width: $width;
  max-width: $width;
  margin: 0 auto;

  @include breakpoint("sm") {
    $width: map-get($qr-containers, sm);

    width: $width;
    min-width: $width;
    max-width: $width;
  }

  @include breakpoint("md") {
    $width: map-get($qr-containers, md);

    padding: 210px 0 64px;
    width: $width;
    min-width: $width;
    max-width: $width;
  }

  @include breakpoint("lg") {
    $width: map-get($qr-containers, lg);

    width: $width;
    min-width: $width;
    max-width: $width;
  }

  @include breakpoint("xl") {
    $width: map-get($qr-containers, xl);

    padding: 220px 0 64px;
    width: $width;
    min-width: $width;
    max-width: $width;
  }
}
