@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  border-radius: 8px;
  border: 2px solid get-color(paragraph, base);
  padding: 5px 10px;
  cursor: pointer;
  background-color: get-color(background, base);
  transition: background-color $qr-transition-time ease-in-out;
  white-space: nowrap;

  &__text {
    transition: color $qr-transition-time ease-in-out;
  }

  &.active {
    background-color: get-color(paragraph, base);
  }
}
