@import 'src/scss/variables';
@import 'src/scss/mixins';

.root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  @include breakpoint('xl') {
    flex-flow: row-reverse;
  }

  &__info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @include breakpoint('xl') {
      align-items: flex-start;
    }

    &__title {
      margin-bottom: 8px;

      @include breakpoint('xl') {
        margin-bottom: 26px;
      }

      @include breakpoint('xl') {
        margin-bottom: 38px;
      }
    }
    &__button {
      width: 100%;
      padding: 3px auto;
      margin-top: 20px;
      background-color: transparent;
      border: 2px solid get-color(paragraph, base);
      border-radius: 8px;
      cursor: pointer;
      transition: background-color $qr-transition-time ease-in-out,
        color $qr-transition-time ease-in-out;

      @include breakpoint('md') {
        width: auto;
        padding: 12px 22px;
        margin-top: 56px;
      }

      @include breakpoint('xl') {
        margin-top: 66px;
      }

      &__action {
        transition: color $qr-transition-time ease-in-out;
      }

      &:hover {
        background-color: get-color(element, base);

        .root__info__button__action {
          color: get-color(background, base);
          transition: background-color $qr-transition-time ease-in-out,
            color $qr-transition-time ease-in-out;
        }
      }
    }
  }
}
