@import 'src/scss/variables';
@import 'src/scss/mixins';

.root {
  $container: map-get($qr-containers, 'sm');
  $offset: calc((100% - $container) / 2);

  position: fixed;
  display: flex;
  flex-flow: column;
  width: $container;
  padding: 0 $offset;
  margin: 0 auto;
  background-color: get-color(background, base);
  z-index: 10;

  @include breakpoint('md') {
    $container: map-get($qr-containers, 'md');
    $offset: calc((100% - $container) / 2);

    width: $container;
    padding: 26px $offset 0;
  }

  @include breakpoint('lg') {
    $container: map-get($qr-containers, 'lg');
    $offset: calc((100% - $container) / 2);

    width: $container;
    padding: 28px $offset 0;
  }

  &__content {
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 0px;

    @include breakpoint('md') {
      margin-bottom: 43px;
    }

    @include breakpoint('lg') {
      flex-flow: row;
      margin-bottom: 32px;
    }
  }

  &__about {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    flex: 0.5;
    gap: 20px;
    transform: scale(0.9);

    @include breakpoint('md') {
      transform: scale(1);
    }

    @include breakpoint('lg') {
      justify-content: flex-start;
    }

    &__info {
      margin-top: 15px;
      display: flex;
      flex-flow: column;
      justify-content: center;

      &__link {
        text-decoration: none;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-flow: column;
    flex: 1;
  }

  &__search {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0.5;

    @include breakpoint('lg') {
      justify-content: flex-end;
    }

    &__button {
      width: 48px;
      height: 48px;
      background-color: get-color(search, base);
      border: none;
      border-radius: 14px;
      cursor: pointer;

      & svg {
        transform: scale(0.7);
      }

      @include breakpoint('md') {
        width: 82px;
        height: 60px;

        & svg {
          transform: scale(1);
        }
      }

      @include breakpoint('lg') {
        width: 79px;
        height: 60px;
      }
    }
  }
}
