@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: get-color(background, base);
  z-index: 100;
  visibility: hidden;
  transition: all $qr-transition-time ease-in-out;
  overflow: auto;

  &.toggled {
    top: 0;
    left: 0;
    visibility: visible;
    transition: all $qr-transition-time ease-in-out;
  }

  &__search {
    display: flex;
    height: 44px;
    padding: 10px 0 0;
    background-color: get-color(search, base);

    @include breakpoint('md') {
      padding: 20px 40px;
    }

    &__input {
      padding-left: 12px;
      width: 100%;
      flex: 1;
      background-color: transparent;
      border: none;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      outline: none;
      color: get-color(paragraph, base);

      @include breakpoint('md') {
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        color: get-color(paragraph, base);

        @include breakpoint('md') {
          font-size: 18px;
          line-height: 26px;
          font-weight: 600;
        }
      }
    }

    &__cancel {
      padding: 0 11px;
      background-color: transparent;
      border: none;
    }
  }

  &__results {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 12px;
    padding: 12px;

    @include breakpoint('md') {
      padding: 40px;
      gap: 30px;
    }

    &__product {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 12px;

      @include breakpoint('md') {
        gap: 32px;
      }

      &__image {
        position: relative;
        width: 40px;
        height: 40px;

        @include breakpoint('md') {
          width: 88px;
          height: 88px;
        }

        &__src {
          border-radius: 2px;

          @include breakpoint('md') {
            border-radius: 8px;
          }
        }
      }

      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
