@import 'src/scss/mixins';

.root {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  gap: 20px;
  transform: scale(0.9);

  @include breakpoint('md') {
    transform: scale(1);
  }

  &__info {
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    &__link {
      text-decoration: none;
    }
  }
}
