.qr-drawer,
.qr-page {
  .qr-plain {
    display: flex;
    flex-flow: row !important;
    gap: 10px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2px;
    }

    .ant-col {
      padding-bottom: 0px;
    }
  }
}
