@import "src/scss/variables";
@import "src/scss/mixins";

.root {
  display: flex;
  margin: 0 -12px 24px;
  padding: 0 12px;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
  }

  &__list {
    display: inline-flex;
    flex-flow: row nowrap;
    margin: 0 auto;

    & > * {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    &::after {
      content: "";
      min-width: 12px;
      width: 12px;
    }
  }

  @include breakpoint("md") {
    margin: 0 -40px 45px;
    padding: 0 40px;
    gap: 32px;
  }

  @include breakpoint("lg") {
    margin: 0 0 60px;
    padding: 0;
    gap: 16px 32px;
    flex-wrap: wrap;
  }
}
