@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: start;

  @include breakpoint('xs') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint('sm') {
    gap: 20px;
  }

  @include breakpoint('md') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint('xl') {
    gap: 31px;
  }
}
