@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid get-color(background, base);
  border-radius: 6px;
  box-sizing: border-box;
}
