@font-face {
  font-family: Roboto;
  src: url('/static/fonts/roboto/regular/Roboto-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/static/fonts/roboto/regular/Roboto-Italic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/static/fonts/roboto/medium/Roboto-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/static/fonts/roboto/medium/Roboto-MediumItalic.ttf')
    format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
