@import './reset.scss';
@import './antd-overrides/index.scss';
@import './typography.scss';
@import './fonts.scss';

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#__next {
  overflow-x: hidden;
  overflow-y: hidden;
}
