@import 'variables';

@mixin apply-rules($rules) {
  @each $prop, $value in $rules {
    #{$prop}: $value;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == '' {
    @content;
  } @else {
    $value: map-get($qr-breakpoints, $breakpoint);

    @if $value != null {
      @media (min-width: $value) {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
}
