@import './mixins.scss';

@function createPreset(
  $font-family,
  $font-size,
  $font-weight,
  $line-height,
  $letter-spacing
) {
  @return (
    font-family: $font-family,
    font-size: $font-size,
    font-weight: $font-weight,
    line-height: $line-height,
    letter-spacing: $letter-spacing
  );
}

@function getTypography($preset, $size) {
  @return map-get(map-get($presets, $preset), $size);
}

$presets: (
  p1: (
    desktop: createPreset(Roboto, 20px, 400, 28px, normal),
  ),
  p2: (
    desktop: createPreset(Roboto, 14px, 400, 22px, normal),
  ),
  h5: (
    desktop: createPreset(Roboto, 16px, 400, 24px, normal),
  ),
);

.qr-page {
  .t {
    @each $preset, $variants in $presets {
      &-#{$preset} {
        @each $variant-name, $rules in $variants {
          $breakpoint: map-get($qr-breakpoints, $variant-name);

          @if $breakpoint != null {
            @include breakpoint($variant-name) {
              @include apply-rules($rules);
            }
          } @else {
            @include apply-rules($rules);
          }
        }
      }
    }
  }
}
