$qr-box-shadow: 0px -2px 34px rgba(0, 0, 0, 0.09),
  0px -1.14064px 7.59435px rgba(0, 0, 0, 0.0536497),
  0px -0.841299px 2.26103px rgba(0, 0, 0, 0.0363503);

$qr-containers: (
  xs: calc(100% - 24px),
  sm: calc(100% - 24px),
  md: calc(100% - 80px),
  lg: calc(100% - 80px),
  xl: 1288px,
);

$qr-breakpoints: (
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1368px,
);

$qr-transition-time: 0.25s;
