@import "src/scss/mixins";
@import "src/scss/variables";

.root {
  margin-top: auto;
  padding: 8px 0 calc(10px + env(safe-area-inset-bottom)) 0;
  border-top: 0.5px solid get-color(element, base);
}
