@import 'src/scss/mixins';
@import 'src/scss/variables';

.root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 8px;
  padding: 0;
  max-width: 100%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: box-shadow $qr-transition-time ease-in-out;
  background-color: get-color(background, base);

  @include breakpoint('lg') {
    gap: 15px;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 189px;

    @include breakpoint('lg') {
      height: 271px;
    }

    &__modificators {
      display: flex;
      flex-flow: row;
      gap: 6px;
      z-index: 1;
      position: absolute;
      top: 8px;
      left: 8px;

      @include breakpoint('lg') {
        top: 20px;
        left: 20px;
      }
    }

    &__src {
      border-radius: 8px;
      width: 100%;
      height: 100px;
      line-height: 100px;
      vertical-align: middle;
      text-align: center;

      @include breakpoint('lg') {
        border-radius: 18px;
        width: 100%;
        height: 271px;
      }
    }
  }

  &__price {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & svg {
      transform: scale(0.8);
      margin-bottom: -1.5px;

      @include breakpoint('md') {
        transform: scale(0.8);
        margin-bottom: -0.5px;
      }

      @include breakpoint('lg') {
        transform: scale(1.4);
        margin-bottom: 2px;
      }
    }

    &__sizes {
      display: flex;
      flex-flow: wrap;
      gap: 6px;

      @include breakpoint('lg') {
        gap: 12px;
      }
    }
  }

  transition: all $qr-transition-time ease-in-out;

  &__hidden {
    display: flex;
    flex-flow: column;
    gap: 0px;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    margin: -6px 0 0 0;
    transition: all $qr-transition-time ease-in-out;
    transition-delay: 0.3s;

    @include breakpoint('md') {
      margin: -18px 0 0 0;
    }

    @include breakpoint('lg') {
      margin: -24px 0 0 0;
    }

    &__line {
      width: 100%;
      border: none;
      height: 0.5px;
      border-radius: 1px;
      opacity: 0.25;
      background-color: get-color(element, base);
    }

    &__nutrients {
      display: flex;
      flex-flow: row;

      & * {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
