@import "src/scss/variables";

//ProjectSans

@font-face {
  font-family: $qr-font-family-logo;
  src: url("/fonts/#{$qr-font-family-logo}/#{$qr-font-family-logo}-SemiBold.woff") format("woff"),
    url("/fonts/#{$qr-font-family-logo}/#{$qr-font-family-logo}-SemiBold.ttf") format("ttf"),
    url("/fonts/#{$qr-font-family-logo}/#{$qr-font-family-logo}-SemiBold.eof") format("eof");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

//Gilroy

@font-face {
  font-family: $qr-font-family-alternative;
  src: url("/fonts/#{$qr-font-family-alternative}/#{$qr-font-family-alternative}-SemiBold.woff") format("woff"),
    url("/fonts/#{$qr-font-family-alternative}/#{$qr-font-family-alternative}-SemiBold.ttf") format("ttf"),
    url("/fonts/#{$qr-font-family-alternative}/#{$qr-font-family-alternative}-SemiBold.eof") format("eof");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

//ProximaNova

@font-face {
  font-family: $qr-font-family-regular;
  src: url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Bold.woff") format("woff"),
    url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Bold.ttf") format("ttf"),
    url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Bold.eof") format("eof");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: $qr-font-family-regular;
  src: url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Regular.woff") format("woff"),
    url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Regular.ttf") format("ttf"),
    url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Regular.eof") format("eof");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: $qr-font-family-regular;
  src: url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Light.woff") format("woff"),
    url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Light.ttf") format("ttf"),
    url("/fonts/#{$qr-font-family-regular}/#{$qr-font-family-regular}-Light.eof") format("eof");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
