@import "./reset.scss";
@import "./fonts.scss";

$nprogress-color: #f595bb;

html {
  scroll-behavior: smooth;

  #nprogress .bar {
    height: 3px !important;
    background: $nprogress-color !important;
  }

  /* Fancy blur effect */
  #nprogress .peg {
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color !important;
  }

  #nprogress .spinner-icon {
    display: none;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
