$qr-font-family-logo: "ProjectSans";
$qr-font-family-regular: "ProximaNova";
$qr-font-family-alternative: "Gilroy";

$qr-box-shadow: 0px -2px 34px rgba(0, 0, 0, 0.09), 0px -1.14064px 7.59435px rgba(0, 0, 0, 0.0536497),
  0px -0.841299px 2.26103px rgba(0, 0, 0, 0.0363503);

$qr-transition-time: 0.3s;

$qr-containers: (
  xs: calc(100% - 24px),
  sm: calc(100% - 24px),
  md: calc(100% - 80px),
  lg: calc(100% - 80px),
  xl: 1288px,
);

$qr-breakpoints: (
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1368px,
);

$qr-colors: (
  paragraph: (
    base: #5c5269,
  ),
  background: (
    base: #ffffff,
  ),
  element: (
    base: #998fa7,
  ),
  search: (
    base: #d9f7ff,
  ),
);

$qr-transition-time: 0.25s;
